@import '../shared/style/color';

@mixin icon-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	cursor: pointer;

	height: 72px;
	padding: 0px 16px;
	gap: 16px;

	.icon-box {
		width: 36px;
		height: 36px;
	}

	.content {
		width: 100%;
		padding: 0px 12px;

		.title {
			font-weight: 500;
			line-height: 24px;
		}

		.description {
			color: $description-sub;
			font-size: 14px;
		}
	}
}
.home-container {
	height: calc(100vh - 77px);
}
.profile-box {
	display: flex;
	flex-direction: column;

	padding: 24px 16px 16px 16px;
	gap: 24px;

	.image-box {
		display: flex;
		justify-content: center;

		.image {
			border-radius: 50px;
			border: 1px solid $description-sub;
			width: 100px;
			height: 100px;
		}
	}

	.list-box {
		display: flex;
		flex-direction: column;

		gap: 16px;

		.list {
			display: flex;
			height: 24px;
			gap: 16px;

			.name {
				width: 100px;
			}
			.description {
				color: $description-sub;
			}
		}
	}
}
.gray-bar {
	height: 12px;
	background-color: $other-area-color;
}
.active-box,.preview-box,.event-box,.schedule-box {
	@include icon-box();
}
.footer-box {
	display: flex;
	padding-top: 24px;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;

	.description {
		cursor: pointer;
		text-decoration: underline;
		color: #1D1D6B;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0em;
	}
}