.event-container {
	height: calc(100vh - 77px);

	.wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.content {
			padding-top: 183px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.label {
				color: #ffffff;
				background-color: #000000;
				padding: 3px 8px;
				font-size: 14px;
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0em;
				text-align: center;
			}
			.title {
				padding: 8px 0px 24px 0px;
				font-size: 24px;
				font-weight: 700;
				line-height: 36px;
				letter-spacing: 0em;
				text-align: center;
			}
		}
		.gift {
			cursor: pointer;
			
			:hover {
				// TODO: 좌우 애니메이션
			}
		}
		.description {
			padding-top: 14px;
			color: #9797AE;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0em;
			text-align: center;
		}
	}
}