@import '../style/color';

.layout-container {
  width: 480px;
  height: 100%;
  background-color: $container-color;
}

.layout-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  padding: 0px 8px;
  gap: 8px;

  &.under-line {
    border-bottom: 1px solid $bolder-default;
  }

  .left {
    width: 20px;
    height: 48px;
    padding: 0px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.has {
      cursor: pointer;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 6px 8px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    .logo {
      height: 24px;
    }
  }
}

.layout-bottom {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-top: 1px solid #E9E9F1;
  background: #FFF;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.layout-bottom-btn {
  display: flex;
  height: 48px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  gap: 8px;
  background: #191919;
  color: #FFF;
  cursor: pointer;
  &:disabled {
    opacity: 30%;
    cursor: default;
  }
}
