$bolder-default: #e9e9f1;
$other-area-color: #e6e6e6;
$container-color: #ffffff;
<<<<<<< HEAD

$button-background-color: #191919;
$button-text-color: #ffffff;
=======
$description-gray: #9797AE;
>>>>>>> 77ea194 (feat(home): Add Profile section)
