@import './variable';
@import './color';

* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-height: 100vh;
  background-color: $other-area-color;
}
